h1{
    font-size: 100px;
    
    text-align: left;
}
input{
    display: block;
}
#p1{
    letter-spacing: 30px;
    font-weight: 900;
    line-height: 80px;
    text-decoration: overline;
}
#p2{
    font-family: 'Courier New', Courier, monospace;
}
a{
   
    text-decoration: none;
}

div{
    height: 200px;
    width: 200px;
    background-color: darkkhaki;
    /* border-width: 2px;
    border-color: rgb(126, 34, 34);
    border-style: solid; */
    border: 2px solid black;
    margin-left: 250px;
    padding-top: 50px;
    margin-top: 50px;
    box-shadow: 3px  3px 5px rgb(29, 29, 29);
}
.div-h1{
    font-size: x-large;
}
#div2{
    height: 800px;
    width: 600px;
    background-color: blue;
    background-image: url(esmihel-muhammad-xUcqRJQxppU-unsplash.jpg);
    background-size: cover;
}
#divh1{
   text-align: center;
   opacity: 0.5;
}